force-app/main/default/flows/Agency_Lead_to_Sales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Manual_Route</name>
        <label>Manual Route</label>
        <locationX>1645</locationX>
        <locationY>1284</locationY>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AE_for_Assignment.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Manually_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Manual_Assignment_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Manual_Assignment4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Manual_Flip_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manual_Flip_Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTimeRightNow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign</name>
        <label>Reassign</label>
        <locationX>1656</locationX>
        <locationY>894</locationY>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Working_BDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFlipChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.SALES_Ecommerce_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ecommerce_Platform_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Manually_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Manually_Route</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Country_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGeoLocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.etailinsights_HQ_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHQState_Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.etailinsights_HQ_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HQ_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Type_of_Prospect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_type_of_Prospect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Product_Family_at_Time_of_Flip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Klaviyo_products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign_0</name>
        <label>Reassign</label>
        <locationX>1979</locationX>
        <locationY>998</locationY>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Working_BDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Channel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varFlipChannel</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTimeRightNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.SALES_Ecommerce_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Ecommerce_Platform_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Manually_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.etailinsights_HQ_State__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varHQState_Province</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.etailinsights_HQ_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HQ_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AEofRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Manual_Assignment_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Country_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>varGeoLocation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Opportunity_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ProductFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Type_of_Prospect__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>What_type_of_Prospect</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Product_Family_at_Time_of_Flip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Which_Klaviyo_products</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Owner</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A100200</name>
        <choiceText>100K-200K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100K-200K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A1125</name>
        <choiceText>11K-25K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11K-25K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A13K</name>
        <choiceText>1K-3K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1K-3K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A1M</name>
        <choiceText>1M+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1M+</stringValue>
        </value>
    </choices>
    <choices>
        <name>A200300</name>
        <choiceText>200K-300K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>200K-300K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A2550</name>
        <choiceText>25K-50K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25K-50K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A300400</name>
        <choiceText>300K-400K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>300K-400K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A35K</name>
        <choiceText>3K-5K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3K-5K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A400500</name>
        <choiceText>400K-500K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>400K-500K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A500750</name>
        <choiceText>500K-750K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>500K-750K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A50100</name>
        <choiceText>50K-100K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50K-100K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A511</name>
        <choiceText>5K-11K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5K-11K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A7501M</name>
        <choiceText>750K-1M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>750K-1M</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alex_Wallitsch</name>
        <choiceText>Alex Wallitsch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>alex.wallitsch@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Angie_Berkowitz</name>
        <choiceText>Angie Berkowitz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>angela.berkowitz@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Anthony_Corazzini</name>
        <choiceText>Anthony Corazzini</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>anthony.corazzini@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>BLANK</name>
        <choiceText>-</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brian_Shanley</name>
        <choiceText>Brian Shanley</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>brian.shanley@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Charlie_Webber</name>
        <choiceText>Charlie Webber</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Charlie.Webber@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Connor_Gallo</name>
        <choiceText>Connor Gallo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>connor.gallo@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Div_Joshi</name>
        <choiceText>Div Joshi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>divya.joshi@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>EmailSubscription</name>
        <choiceText>Email Subscription</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email Subscription</stringValue>
        </value>
    </choices>
    <choices>
        <name>Emily_Barshay</name>
        <choiceText>Emily Barshay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>emily.barshay@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Evan_Cover</name>
        <choiceText>Testing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>evan.cover@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>GMVForm</name>
        <choiceText>{!GMVFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>GMVFormula</elementReference>
        </value>
    </choices>
    <choices>
        <name>HighSophistication</name>
        <choiceText>High Sophistication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High Sophistication</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jeff_Dutremble</name>
        <choiceText>Jeff Dutremble</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>jeff.dutremble@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jen_Tanenbaum</name>
        <choiceText>Jen Tanenbaum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>jennifer.tanenbaum@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kaleigh_Morrison</name>
        <choiceText>Kaleigh Morrison</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>kaleigh.morrison@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Klaviyo_Partners</name>
        <choiceText>Klaviyo Partners</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partners@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>LowSophistication</name>
        <choiceText>Low Sophistication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low Sophistication</stringValue>
        </value>
    </choices>
    <choices>
        <name>Matt_Serwin</name>
        <choiceText>Matt Serwin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>matt.serwin@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Matt_Virzi</name>
        <choiceText>Matt Virzi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>matt.virzi@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Michael_Dimatteo</name>
        <choiceText>Michael Dimatteo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>michael.dimatteo@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Michael_Eng</name>
        <choiceText>Michael Eng</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>michael.eng@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mike_Stangland</name>
        <choiceText>Mike Stangland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mike.stangland@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mitch_Gruber</name>
        <choiceText>Mitch Gruber</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mitch.gruber@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Navin_Jain</name>
        <choiceText>Navin Jain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>navin.jain@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>NonEcommerce</name>
        <choiceText>Non-Ecommerce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Ecommerce</stringValue>
        </value>
    </choices>
    <choices>
        <name>Over_5000_Contacts</name>
        <choiceText>Over 5000 Contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency &gt;= 5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parker_McMahon</name>
        <choiceText>Parker McMahon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>parker.mcmahon@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Patrick_O_Loughlin</name>
        <choiceText>Patrick O&apos;Loughlin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>patrick.oloughlin@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pete_James</name>
        <choiceText>Pete James</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>pete.james@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phil_Greenwood</name>
        <choiceText>Phil Greenwood</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>phil.greenwood@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ricky_Boudrow</name>
        <choiceText>Ricky Boudrow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ricky.boudrow@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>SMSFunds</name>
        <choiceText>SMS Funds</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>SMS Funds</stringValue>
        </value>
    </choices>
    <choices>
        <name>sobjLeadInformation_SALES_Ecommerce_Platform_c</name>
        <choiceText>{!sobjLeadInformation.SALES_Ecommerce_Platform__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>sobjLeadInformation.SALES_Ecommerce_Platform__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Spencer_Dunfee</name>
        <choiceText>Spencer Dunfee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>spencer.dunfee@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Under_5000_Contacts</name>
        <choiceText>Under 5000 Contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency &lt; 5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>Website</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <constants>
        <name>Unknown</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Unknown</stringValue>
        </value>
    </constants>
    <decisions>
        <name>AE_of_Record_not_null</name>
        <label>AE of Record not null</label>
        <locationX>1276</locationX>
        <locationY>689</locationY>
        <defaultConnector>
            <targetReference>Too_Small_for_Sales_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AE_of_Record_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AEofRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AEofRecord.ProfileId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00e0V000002JWoTQAW</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AE_of_Record_Screen</targetReference>
            </connector>
            <label>AE of Record is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Agency_not_null</name>
        <label>Agency not null</label>
        <locationX>1159</locationX>
        <locationY>926</locationY>
        <defaultConnector>
            <targetReference>Too_Small_for_Sales_Process</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Agency_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLeadInformation.Referral_Partner_Account__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_AE_of_record</targetReference>
            </connector>
            <label>Agency is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assign_to_AE_of_Record</name>
        <label>Assign to AE of Record</label>
        <locationX>2095</locationX>
        <locationY>884</locationY>
        <defaultConnector>
            <targetReference>Reassign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_go</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>YES</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reassign_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_it_have_open_pipeline_or_Customer</name>
        <label>Does it have open pipeline or Customer</label>
        <locationX>755</locationX>
        <locationY>2109</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Open_Pipe_line_or_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Accounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts.Target_Account_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Accounts.Target_Account_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Pipeline</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Target_Account_Status</targetReference>
            </connector>
            <label>Open Pipe line or Customer?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Geo</name>
        <label>Geo</label>
        <locationX>698</locationX>
        <locationY>965</locationY>
        <defaultConnector>
            <targetReference>Get_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Geo_Missing</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4</conditionLogic>
            <conditions>
                <leftValueReference>varGeoLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>United States</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGeoLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canada</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varGeoLocation</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Australia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varHQState_Province</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Geo_Missing1</targetReference>
            </connector>
            <label>Geo Missing</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Lead_Status_Set_to_Qualified_Passed_to_Sales</name>
        <label>Is Lead Status Set to &quot;Qualified - Passed to Sales&quot;?</label>
        <locationX>663</locationX>
        <locationY>645</locationY>
        <defaultConnector>
            <targetReference>Fault_Lead_Status_Not_Correctly_Set</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Lead_Status_Qualified_Passed_to_Sales</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>sobjLeadInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified - Passed to Sales Rep</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLeadInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified - Partner Working on Lead</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLeadInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified - Passed to CAM</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLeadInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified - Partner Lead Too Small for Sales Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flip_to_Sales</targetReference>
            </connector>
            <label>Lead Status = &quot;Qualified - Passed to Sales&quot;</label>
        </rules>
    </decisions>
    <decisions>
        <name>Manual</name>
        <label>Manual</label>
        <locationX>1276</locationX>
        <locationY>1210</locationY>
        <defaultConnector>
            <targetReference>New_Agency_Checkbox</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manually_Route1</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Manually_Route</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Which_Klaviyo_products</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>SMS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>What_type_of_Prospect</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Existing Customer (&lt;=90 Days)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AE_to_be_Manually_Assigned</targetReference>
            </connector>
            <label>Manually Route</label>
        </rules>
    </decisions>
    <decisions>
        <name>New_Agency_Checkbox</name>
        <label>New Agency Checkbox</label>
        <locationX>1007</locationX>
        <locationY>1092</locationY>
        <defaultConnector>
            <targetReference>Update_Owner_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Agency_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLeadInformation.New_Agency_Checkbox__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_0_0_0_0</targetReference>
            </connector>
            <label>New Agency = True</label>
        </rules>
    </decisions>
    <decisions>
        <description>Has the RP lead been accept &lt;&gt; rejected?</description>
        <name>Partner_Lead_Status</name>
        <label>Partner Lead Status</label>
        <locationX>657</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Is_Lead_Status_Set_to_Qualified_Passed_to_Sales</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Partner_Lead_Status_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLeadInformation.RP_Partner_Lead_Registration_Status__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>sobjLeadInformation.Transferred_to_aBDR__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Accept_Reject</targetReference>
            </connector>
            <label>Partner Lead Status NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Too_Small_for_Sales_Process</name>
        <label>Too Small for Sales Process</label>
        <locationX>1317</locationX>
        <locationY>901</locationY>
        <defaultConnector>
            <targetReference>Reassign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Too_Small</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sobjLeadInformation.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified - Partner Lead Too Small for Sales Process</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_0</targetReference>
            </connector>
            <label>Status = Too Small</label>
        </rules>
    </decisions>
    <description>SFD 4213 - Flip Routing updates for new Sales Segmentation
SFDC-3329- Updating Flip Owner Director 8_24_23v2
SFDC-3043 - remove SMS_Product and Email_Product screen components from Flip Screen and downstream
SFDC 2670 - Update New Vertical Flip to Flip to Sales screen (DO NOT ACTIVATE UNTIL 7/1/23)
+ SFDC-2474 - Replacing the reference to the static CAMs and AEs Metadata table user values in the &apos;AE to be manually assigned&quot; Node + &quot;Manual Route&quot; Assignment node 
+ SFDC-192 - Added Sales Rep Role to the Flip Confirmation screen
+ remove ability to assign AE of Record</description>
    <dynamicChoiceSets>
        <name>AEName</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>August12021</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Became_Customer_Date__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EcommercePlatformPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SALES_Ecommerce_Platform__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Employees</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SALES_of_Employees__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FlipSizeByBuckets</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FLOW_Flip_Size_by_Bucket__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Industry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Involvement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RP_Involvement_in_Sales_Process__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ManualFlipReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Manual_Flip_Reason__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>NewVerticalsFlip</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>New_Verticals_Flip__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Num_of_Employees</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SALES_of_Employees__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod1AEs</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod1AEs2</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Second_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod1AEs3</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Third_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod2AEs</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod2AEs2</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Second_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod2AEs3</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Third_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod3AEs</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod3AEs2</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Second_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod3AEs3</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Third_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>SFDC-3043</description>
        <name>ProductFamilyLead</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Product_Family__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProspectType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Prospect__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <description>A record Choice set for storing AE and CAM Users.</description>
        <name>RecordChoiceSet_CAM_AE_Users</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>1 AND 2 AND (3 OR (4 AND 5))</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>00E0V000001v7Xf</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserRoleId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00E0V000001qX98</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProfileId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00e0V000002JWoT</stringValue>
            </value>
        </filters>
        <filters>
            <field>Department</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Sales</stringValue>
            </value>
        </filters>
        <object>User</object>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Segment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Flip_GMV_Segment__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sourced</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RP_Partner_Sourced_or_Klaviyo_Sourced__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sub_Vertical</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Vertical__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>DateTimeRightNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>GMVFormula</name>
        <dataType>String</dataType>
        <expression>IF(
ISBLANK({!sobjLeadInformation.KPU_GMV_Segment__c}),
&apos;Unknown&apos;,
{!sobjLeadInformation.KPU_GMV_Segment__c}
)</expression>
    </formulas>
    <formulas>
        <name>ProductFormula</name>
        <dataType>String</dataType>
        <expression>IF(
{!Email_Product} = TRUE,
&quot;Email Subscription&quot;,
&quot;&quot;
)</expression>
    </formulas>
    <interviewLabel>Agency Lead to Sales {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Agency Lead to Sales</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Flip_Record</name>
        <label>Create Flip Record</label>
        <locationX>1110</locationX>
        <locationY>1841</locationY>
        <connector>
            <targetReference>Get_Accounts</targetReference>
        </connector>
        <inputAssignments>
            <field>Ecommerce_Platform__c</field>
            <value>
                <elementReference>EcommercePlatformPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Channel__c</field>
            <value>
                <elementReference>varFlipChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Owner__c</field>
            <value>
                <elementReference>sobjLeadInformation.FLOW_Flip_Owner__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Platform_Bucket__c</field>
            <value>
                <elementReference>sobjLeadInformation.FLOW_Flip_Platform_Bucket__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Recipient__c</field>
            <value>
                <elementReference>sobjSalesRepUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flipped_Lead__c</field>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </inputAssignments>
        <object>Flip_Record__c</object>
    </recordCreates>
    <recordLookups>
        <name>Fast_Lookup_Lead</name>
        <label>Fast Lookup Lead</label>
        <locationX>165</locationX>
        <locationY>555</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varLeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>sobjLeadInformation</outputReference>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Status</queriedFields>
        <queriedFields>FLOW_Flip_Owner__c</queriedFields>
        <queriedFields>FLOW_Date_Time_Inbound_to_Sales__c</queriedFields>
        <queriedFields>FLOW_Flip_Recipient__c</queriedFields>
        <queriedFields>Working_BDR__c</queriedFields>
        <queriedFields>Company</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>SALES_of_Contacts__c</queriedFields>
        <queriedFields>FLOW_BDR_Stated_Num_of_Contacts__c</queriedFields>
        <queriedFields>SALES_Ecommerce_Platform__c</queriedFields>
        <queriedFields>MARKETING_Most_Recent_Lead_Source_Detail__c</queriedFields>
        <queriedFields>Pod_Assignment__c</queriedFields>
        <queriedFields>FLOW_Flip_Platform_Bucket__c</queriedFields>
        <queriedFields>FLOW_Flip_Size_by_Bucket__c</queriedFields>
        <queriedFields>SALES_of_Employees__c</queriedFields>
        <queriedFields>SALES_BDR_Stated_GMV__c</queriedFields>
        <queriedFields>RP_Partner_Lead_Registration_Status__c</queriedFields>
        <queriedFields>Transferred_to_aBDR__c</queriedFields>
        <queriedFields>Manually_Route__c</queriedFields>
        <queriedFields>SALES_Dropshipper__c</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>etailinsights_HQ_State__c</queriedFields>
        <queriedFields>etailinsights_HQ_City__c</queriedFields>
        <queriedFields>SALES_Geographical_Location__c</queriedFields>
        <queriedFields>Referral_Partner_Account__c</queriedFields>
        <queriedFields>New_Agency_Checkbox__c</queriedFields>
        <queriedFields>Manual_Assignment_Reason__c</queriedFields>
        <queriedFields>Sub_Vertical__c</queriedFields>
        <queriedFields>Country_Location__c</queriedFields>
        <queriedFields>Interested_in_additional_products__c</queriedFields>
        <queriedFields>Opportunity_Product__c</queriedFields>
        <queriedFields>Email__c</queriedFields>
        <queriedFields>SMS__c</queriedFields>
        <queriedFields>Type_of_Prospect__c</queriedFields>
        <queriedFields>PRODUCT_Opportunity_Product__c</queriedFields>
        <queriedFields>KPU_GMV_Segment__c</queriedFields>
        <queriedFields>Flip_GMV_Segment__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Became_Customer_Date__c</queriedFields>
        <queriedFields>Flip_Recipient_s_Role__c</queriedFields>
        <queriedFields>Flip_Owner_s_Manager__c</queriedFields>
        <queriedFields>of_SMS_Contacts__c</queriedFields>
        <queriedFields>Manual_Flip_Reason__c</queriedFields>
        <queriedFields>Geo__c</queriedFields>
        <queriedFields>Customer_Group__c</queriedFields>
        <queriedFields>Region__c</queriedFields>
        <queriedFields>BI_Country__c</queriedFields>
        <queriedFields>BI_State__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Accounts</name>
        <label>Get Accounts</label>
        <locationX>950</locationX>
        <locationY>1957</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_it_have_open_pipeline_or_Customer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AE_of_record</name>
        <label>Get AE of record</label>
        <locationX>1166</locationX>
        <locationY>652</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AE_of_Record_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Agency.RP_Referral_Partner_AE_of_Record__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>AEofRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Agency</name>
        <label>Get Agency</label>
        <locationX>913</locationX>
        <locationY>943</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Agency_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Referral_Partner_Account__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>Agency</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RP_Referral_Partner_AE_of_Record__c</queriedFields>
        <queriedFields>AE_of_Record_Assignment__c</queriedFields>
        <queriedFields>Shopify_AE_of_Record__c</queriedFields>
        <queriedFields>Non_Shopify_AE_of_Record__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>2069</locationX>
        <locationY>1427</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Name</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_0</name>
        <label>Get Lead</label>
        <locationX>429</locationX>
        <locationY>1122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Name_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Lead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Name</name>
        <label>Get Owner Name</label>
        <locationX>1912</locationX>
        <locationY>1440</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role_Name_0</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>sobjSalesRepUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>Director__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Name_0</name>
        <label>Get Owner Name</label>
        <locationX>237</locationX>
        <locationY>1122</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Role_Name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Lead.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>sobjSalesRepUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <queriedFields>Director__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_role</name>
        <label>Get role</label>
        <locationX>518</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Partner_Lead_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserObject.UserRoleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Role_Name</name>
        <label>Get Role Name</label>
        <locationX>237</locationX>
        <locationY>1312</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjSalesRepUser.UserRoleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Role_Name_0</name>
        <label>Get Role Name</label>
        <locationX>1913</locationX>
        <locationY>1575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Owner_0_0_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjSalesRepUser.UserRoleId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>UserRole</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>340</locationX>
        <locationY>554</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_role</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>ProfileId</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>ManagerId</queriedFields>
        <queriedFields>Director__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead to KP</label>
        <locationX>1678</locationX>
        <locationY>1006</locationY>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FLOW_Flip_Recipient__c</field>
            <value>
                <stringValue>0050V0000062C4T</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0050V0000062C4T</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0</name>
        <label>Update Lead to KP</label>
        <locationX>1322</locationX>
        <locationY>1025</locationY>
        <connector>
            <targetReference>Update_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country_Location__c</field>
            <value>
                <elementReference>varGeoLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FLOW_Flip_Channel__c</field>
            <value>
                <elementReference>varFlipChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FLOW_Flip_Date_Time__c</field>
            <value>
                <elementReference>DateTimeRightNow</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FLOW_Flip_Owner__c</field>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manual_Assignment_Reason__c</field>
            <value>
                <elementReference>Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Manually_Route__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SALES_Ecommerce_Platform__c</field>
            <value>
                <elementReference>Ecommerce_Platform_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_BDR__c</field>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>etailinsights_HQ_City__c</field>
            <value>
                <elementReference>HQ_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>etailinsights_HQ_State__c</field>
            <value>
                <elementReference>varHQState_Province</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Ownership</name>
        <label>Update Lead Ownership</label>
        <locationX>1326</locationX>
        <locationY>1626</locationY>
        <connector>
            <targetReference>Create_Flip_Record</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Fault</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FLOW_BDR_Stated_Num_of_Contacts__c</field>
            <value>
                <elementReference>of_Contacts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FLOW_Flip_Recipient__c</field>
            <value>
                <elementReference>sobjSalesRepUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Owner_s_Director__c</field>
            <value>
                <elementReference>UserObject.Director__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Owner_s_Manager__c</field>
            <value>
                <elementReference>UserObject.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry_Depnd</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>sobjSalesRepUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SALES_Dropshipper__c</field>
            <value>
                <elementReference>Dropshipper</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SALES_of_Contacts__c</field>
            <value>
                <elementReference>of_Contacts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Vertical__c</field>
            <value>
                <elementReference>SubVertical</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>of_SMS_Contacts__c</field>
            <value>
                <elementReference>of_SMS_Contacts</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner</name>
        <label>Update Owner</label>
        <locationX>1841</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Continue</targetReference>
        </connector>
        <inputReference>sobjLeadInformation</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_0_0</name>
        <label>Update Owner</label>
        <locationX>2075</locationX>
        <locationY>1176</locationY>
        <connector>
            <targetReference>Continue_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country_Location__c</field>
            <value>
                <elementReference>varGeoLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FLOW_Flip_Owner__c</field>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product__c</field>
            <value>
                <elementReference>ProductFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Family_at_Time_of_Flip__c</field>
            <value>
                <elementReference>Which_Klaviyo_products</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SALES_Ecommerce_Platform__c</field>
            <value>
                <elementReference>Ecommerce_Platform_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Prospect__c</field>
            <value>
                <elementReference>What_type_of_Prospect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_BDR__c</field>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>etailinsights_HQ_City__c</field>
            <value>
                <elementReference>HQ_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>etailinsights_HQ_State__c</field>
            <value>
                <elementReference>varHQState_Province</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_0_0_0</name>
        <label>Update Owner</label>
        <locationX>2248</locationX>
        <locationY>1426</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FLOW_Flip_Channel__c</field>
            <value>
                <elementReference>varFlipChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FLOW_Flip_Date_Time__c</field>
            <value>
                <elementReference>DateTimeRightNow</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_0_0_0_0</name>
        <label>Update Owner</label>
        <locationX>840</locationX>
        <locationY>1098</locationY>
        <connector>
            <targetReference>Update_Owner_0_0_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country_Location__c</field>
            <value>
                <elementReference>varGeoLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FLOW_Flip_Owner__c</field>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity_Product__c</field>
            <value>
                <elementReference>ProductFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Family_at_Time_of_Flip__c</field>
            <value>
                <elementReference>Which_Klaviyo_products</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SALES_Ecommerce_Platform__c</field>
            <value>
                <elementReference>Ecommerce_Platform_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Prospect__c</field>
            <value>
                <elementReference>What_type_of_Prospect</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Working_BDR__c</field>
            <value>
                <elementReference>sobjLeadInformation.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>etailinsights_HQ_City__c</field>
            <value>
                <elementReference>HQ_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>etailinsights_HQ_State__c</field>
            <value>
                <elementReference>varHQState_Province</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_0_0_0_0_0</name>
        <label>Update Owner</label>
        <locationX>651</locationX>
        <locationY>1099</locationY>
        <connector>
            <targetReference>Get_Lead_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FLOW_Flip_Channel__c</field>
            <value>
                <elementReference>varFlipChannel</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FLOW_Flip_Date_Time__c</field>
            <value>
                <elementReference>DateTimeRightNow</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_0_0_0_0_0_0</name>
        <label>Update Owner</label>
        <locationX>238</locationX>
        <locationY>1484</locationY>
        <connector>
            <targetReference>Flip_Confirmation_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FLOW_Flip_Recipient__c</field>
            <value>
                <elementReference>sobjSalesRepUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Owner_s_Director__c</field>
            <value>
                <elementReference>UserObject.Director__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Owner_s_Manager__c</field>
            <value>
                <elementReference>UserObject.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Recipient_s_Role__c</field>
            <value>
                <elementReference>Get_Role_Name.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Owner_0_0_0_0_0_0_0</name>
        <label>Update Owner</label>
        <locationX>2136</locationX>
        <locationY>1574</locationY>
        <connector>
            <targetReference>Flip_Confirmation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FLOW_Flip_Recipient__c</field>
            <value>
                <elementReference>sobjSalesRepUser.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Owner_s_Director__c</field>
            <value>
                <elementReference>UserObject.Director__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Owner_s_Manager__c</field>
            <value>
                <elementReference>UserObject.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Flip_Recipient_s_Role__c</field>
            <value>
                <elementReference>Get_Role_Name_0.Name</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <description>Updates Target Account Status to Flipped if Lead has been Flipped</description>
        <name>Update_Target_Account_Status</name>
        <label>Update Target Account Status</label>
        <locationX>956</locationX>
        <locationY>2253</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Accounts.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Target_Account_Status__c</field>
            <value>
                <stringValue>Flipped</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <screens>
        <description>Hello not so fast!  Please go accept reject the lead so the RP gets the proper attribution.</description>
        <name>Accept_Reject</name>
        <label>Accept Reject</label>
        <locationX>882</locationX>
        <locationY>474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Accept_Reject_Needed</name>
            <fieldText>Hello not so fast!  Please go accept reject the lead so the RP gets the proper attribution.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>nonono</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>johnmayerboi</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Additional_Information</name>
        <label>Additional Information</label>
        <locationX>1618</locationX>
        <locationY>1564</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Lead_Ownership</targetReference>
        </connector>
        <fields>
            <name>Industry_1</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Industry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>Sub_Vertical__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Industry</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>Industry</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>Sub Vertical</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>Sub_Vertical</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Industry_Depnd</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>SubVertical</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Dropshipper</name>
            <dataType>Boolean</dataType>
            <fieldText>Dropshipper</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>of_Contacts</name>
            <dataType>Number</dataType>
            <fieldText># of Email Contacts</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>of_SMS_Contacts</name>
            <dataType>Number</dataType>
            <fieldText># of SMS Contacts</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AE_of_Record_Screen</name>
        <label>AE of Record</label>
        <locationX>1501</locationX>
        <locationY>681</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_to_AE_of_Record</targetReference>
        </connector>
        <fields>
            <name>AE_of_Record</name>
            <fieldText>&lt;p&gt;The Referral Partner associated with this Lead has an AE of Record. Would you like to assign this Lead to the AE of Record?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AE123</name>
            <fieldText>&lt;p&gt;AE of Record: {!AEofRecord.FirstName} &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!AEofRecord.LastName}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>YES</name>
            <dataType>Boolean</dataType>
            <fieldText>Yes, Assign to the AE of Record</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AE_to_be_Manually_Assigned</name>
        <label>AE to be Manually Assigned</label>
        <locationX>1463</locationX>
        <locationY>1254</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Manual_Route</targetReference>
        </connector>
        <fields>
            <name>AE_for_Assignment</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>FLOW_Flip_Owner__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>AE for Assignment</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Manual_Flip_Reason</name>
            <choiceReferences>ManualFlipReason</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Manual Flip Reason</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Manual_Assignment4</name>
            <fieldText>Reason for Manual Assignment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Continue</name>
        <label>Continue</label>
        <locationX>1841</locationX>
        <locationY>1302</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <fields>
            <name>Next</name>
            <fieldText>Click Next to view the Flipped lead information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Continue_0</name>
        <label>Continue</label>
        <locationX>2248</locationX>
        <locationY>1177</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Owner_0_0_0</targetReference>
        </connector>
        <fields>
            <name>Next_0</name>
            <fieldText>Click Next to view the Flipped lead information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault</name>
        <label>Fault</label>
        <locationX>94</locationX>
        <locationY>1401</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>FaultText</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;An error has occured and someone who deals with this shit has been notified. &lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Click &amp;quot;Finish&amp;quot; to return to the Lead page.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Fault_Lead_Status_Not_Correctly_Set</name>
        <label>Fault: Lead Status Not Correctly Set</label>
        <locationX>893</locationX>
        <locationY>633</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Fault1</name>
            <fieldText>Lead Status is not set correctly. Please return to Lead and update Lead Status to &quot;Qualified - Passed to Sales&quot;.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CTF</name>
            <fieldText>Click &quot;Finish&quot; to return to Lead page.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flip_Confirmation</name>
        <label>Flip Confirmation</label>
        <locationX>1909</locationX>
        <locationY>1732</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Additional_Information</targetReference>
        </connector>
        <fields>
            <name>ConfimationCheck</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Please view the following Flip information:.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesRepAssigned</name>
            <fieldText>&lt;p style=&quot;text-align: left;&quot;&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;Assigned Sales Rep: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 12px;&quot;&gt;{!sobjSalesRepUser.FirstName} {!sobjSalesRepUser.LastName}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RepRoleName</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;Sales Rep Role: &lt;/span&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(0, 0, 0);&quot;&gt;{!sobjSalesRepUser.UserRole.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>GeoInfo</name>
            <fieldText>&lt;p&gt;Segment: &lt;strong&gt;{!sobjLeadInformation.Customer_Group__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;BI Country: &lt;/span&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!sobjLeadInformation.BI_Country__c}&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;BI State: &lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;{!sobjLeadInformation.BI_State__c}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next2</name>
            <fieldText>&lt;p&gt;_______________________________________________________________________________________&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;NOTE: Geo / Region are determined using BI&apos;s data (BI Country and BI State).&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-family: sans-serif;&quot;&gt;Country and State entered in the Flip screen will only be used for routing if BI data is not available.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-family: sans-serif;&quot;&gt;Click Next to enter additional Flip information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flip_Confirmation_0</name>
        <label>Flip Confirmation</label>
        <locationX>238</locationX>
        <locationY>1661</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ConfimationCheck_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please view the following Flip information:.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>SalesRepAssigned_0</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Assigned Sales Rep: &lt;B&gt;{!sobjSalesRepUser.FirstName} {!sobjSalesRepUser.LastName}&lt;/B&gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RepRoleName1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255); font-size: 12px;&quot;&gt;Sales Rep Role: &lt;/span&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-family: sans-serif; background-color: rgb(255, 255, 255);&quot;&gt;{!sobjSalesRepUser.UserRole.Name}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Next2_0</name>
            <fieldText>Click Next to enter additional Flip information.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flip_to_Sales</name>
        <label>Flip to Sales</label>
        <locationX>495</locationX>
        <locationY>907</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Geo</targetReference>
        </connector>
        <fields>
            <name>Ecommerce_Platform_0</name>
            <choiceReferences>EcommercePlatformPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ecommerce Platform</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>blank1</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>geolocation_state</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Country_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>etailinsights_HQ_State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Country Indicated by Rep</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>HQ State/Province</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varGeoLocation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>varHQState_Province</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varGeoLocation</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varHQState_Province</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HQ_City</name>
            <dataType>String</dataType>
            <fieldText>HQ City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>productbreak</name>
            <fieldText>&lt;p xmlns=&quot;http://www.w3.org/1999/xhtml&quot;&gt; &lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>What_type_of_Prospect</name>
            <choiceReferences>ProspectType</choiceReferences>
            <dataType>String</dataType>
            <fieldText>What type of Prospect?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Which_Klaviyo_products</name>
            <choiceReferences>ProductFamilyLead</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Which Klaviyo products are they interested in?</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Email_Product</name>
            <dataType>Boolean</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varFlipChannel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Success</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varFlipChannel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Partnerships</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SMS_Product</name>
            <dataType>Boolean</dataType>
            <fieldText>SMS</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varFlipChannel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Customer Success</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>varFlipChannel</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Partnerships</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>blank2</name>
            <fieldText>&lt;p&gt;---------------------------------------------------------------------------------------------------------------------------------------------&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Manually_Route</name>
            <dataType>Boolean</dataType>
            <fieldText>Manually Route</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Geo_Missing1</name>
        <label>Geo Missing</label>
        <locationX>757</locationX>
        <locationY>785</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;You forgot to input the State/Province for your lead! Click Previous and enter the correct information.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fast_Lookup_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>Reason</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>Automated Assignment</text>
    </textTemplates>
    <variables>
        <name>AE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>AEofRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>Agency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>EliLederman</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>eli.lederman@klaviyo.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EvanCover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>evan.cover@klaviyo.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>FaultEmailSubjectLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>A Fault Has Occured on a Flip to Sales Flow</stringValue>
        </value>
    </variables>
    <variables>
        <name>FullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Industry_Depnd</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JohnMayer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;iframe src=&quot;https://giphy.com/embed/OqKXUggvf3y3HOa8Lh&quot; width=&quot;480&quot; height=&quot;480&quot; frameBorder=&quot;0&quot; class=&quot;giphy-embed&quot; allowFullScreen&gt;&lt;/iframe&gt;&lt;p&gt;&lt;a href=&quot;https://giphy.com/gifs/applemusic-music-video-apple-trending-videos-OqKXUggvf3y3HOa8Lh&quot;&gt;via GIPHY&lt;/a&gt;&lt;/p&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LowSophis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Low Sophistication</stringValue>
        </value>
    </variables>
    <variables>
        <name>MyAgency</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>MyLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>NewOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Qualified</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Qualified</stringValue>
        </value>
    </variables>
    <variables>
        <name>SalesRepAlertSubjectLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>A New Lead Has Been Assigned To You</stringValue>
        </value>
    </variables>
    <variables>
        <name>sobjLeadInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sobjSalesRepUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SubVertical</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UsernameID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varBDRUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCurrentUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlipChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGeoLocation</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHQState_Province</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
