force-app/main/default/flows/Assign_AE_of_Record_to_Agency.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Send_Email_to_AE</name>
        <label>Send Email to AE</label>
        <locationX>182</locationX>
        <locationY>2894</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Accept_Reject</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>User1.Email</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>Body</elementReference>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Manual_Route</name>
        <label>Manual Route</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Manually_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjSalesRepUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Recipient__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjSalesRepUser.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Manual_Assignment_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Manual_Assignment4</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NonShopify1_0</name>
        <label>Non-Shopify</label>
        <locationX>314</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>RP.AE_of_Record_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Non-Shopify</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agency</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reassign</name>
        <label>Reassign</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP.Channel_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Working_BDR__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP.Channel_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Size_by_Bucket__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flip_Size_by_Bucket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Date_Time__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateTimeRightNow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.SALES_Ecommerce_Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Flip_Platform_Bucket</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Company</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>company</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Referral_Partner_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.LeadSource</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.MARKETING_Most_Recent_Lead_Source_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agency - Verbal Referral/Non-Form Submission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.MARKETING_Initial_Lead_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.MARKETING_Initial_Lead_Source_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agency - Verbal Referral/Non-Form Submission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.MARKETING_Prospect_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.MARKETING_Prospect_Source_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Agency - Verbal Referral/Non-Form Submission</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.FLOW_Flip_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RP.Channel_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Flip_Owner_Title_at_Time_of_Flip__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AOS</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.etailinsights_HQ_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>HQ_City</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.SALES_of_Employees__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>of_Employees</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.SALES_BDR_Stated_GMV__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Stated_GMV</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>sobjLeadInformation.Do_Not_Route__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Manual</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Shopify1</name>
        <label>Shopify</label>
        <locationX>50</locationX>
        <locationY>2270</locationY>
        <assignmentItems>
            <assignToReference>RP.AE_of_Record_Assignment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Shopify</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Agency</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>A100200</name>
        <choiceText>100K-200K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>100K-200K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A1125</name>
        <choiceText>11K-25K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>11K-25K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A13K</name>
        <choiceText>1K-3K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1K-3K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A1M</name>
        <choiceText>1M+</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1M+</stringValue>
        </value>
    </choices>
    <choices>
        <name>A200300</name>
        <choiceText>200K-300K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>200K-300K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A2550</name>
        <choiceText>25K-50K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>25K-50K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A300400</name>
        <choiceText>300K-400K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>300K-400K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A35K</name>
        <choiceText>3K-5K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3K-5K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A400500</name>
        <choiceText>400K-500K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>400K-500K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A500750</name>
        <choiceText>500K-750K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>500K-750K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A50100</name>
        <choiceText>50K-100K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>50K-100K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A511</name>
        <choiceText>5K-11K</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5K-11K</stringValue>
        </value>
    </choices>
    <choices>
        <name>A7501M</name>
        <choiceText>750K-1M</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>750K-1M</stringValue>
        </value>
    </choices>
    <choices>
        <name>Alex_Wallitsch</name>
        <choiceText>Alex Wallitsch</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>alex.wallitsch@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Angie_Berkowitz</name>
        <choiceText>Angie Berkowitz</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>angela.berkowitz@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Anthony_Corazzini</name>
        <choiceText>Anthony Corazzini</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>anthony.corazzini@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>BLANK</name>
        <choiceText>-</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Brian_Shanley</name>
        <choiceText>Brian Shanley</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>brian.shanley@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Charlie_Webber</name>
        <choiceText>Charlie Webber</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Charlie.Webber@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Connor_Gallo</name>
        <choiceText>Connor Gallo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>connor.gallo@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Div_Joshi</name>
        <choiceText>Div Joshi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>divya.joshi@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Emily_Barshay</name>
        <choiceText>Emily Barshay</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>emily.barshay@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Evan_Cover</name>
        <choiceText>Testing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>evan.cover@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>HighSophistication</name>
        <choiceText>High Sophistication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High Sophistication</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jeff_Dutremble</name>
        <choiceText>Jeff Dutremble</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>jeff.dutremble@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Jen_Tanenbaum</name>
        <choiceText>Jen Tanenbaum</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>jennifer.tanenbaum@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kaleigh_Morrison</name>
        <choiceText>Kaleigh Morrison</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>kaleigh.morrison@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Klaviyo_Partners</name>
        <choiceText>Klaviyo Partners</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Partners@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>LowSophistication</name>
        <choiceText>Low Sophistication</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Low Sophistication</stringValue>
        </value>
    </choices>
    <choices>
        <name>Matt_Serwin</name>
        <choiceText>Matt Serwin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>matt.serwin@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Matt_Virzi</name>
        <choiceText>Matt Virzi</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>matt.virzi@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Michael_Dimatteo</name>
        <choiceText>Michael Dimatteo</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>michael.dimatteo@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Michael_Eng</name>
        <choiceText>Michael Eng</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>michael.eng@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mike_Stangland</name>
        <choiceText>Mike Stangland</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mike.stangland@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Mitch_Gruber</name>
        <choiceText>Mitch Gruber</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>mitch.gruber@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Navin_Jain</name>
        <choiceText>Navin Jain</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>navin.jain@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>NonEcommerce</name>
        <choiceText>Non-Ecommerce</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Non-Ecommerce</stringValue>
        </value>
    </choices>
    <choices>
        <name>Over_5000_Contacts</name>
        <choiceText>Over 5000 Contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency &gt;= 5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>Parker_McMahon</name>
        <choiceText>Parker McMahon</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>parker.mcmahon@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Patrick_O_Loughlin</name>
        <choiceText>Patrick O&apos;Loughlin</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>patrick.oloughlin@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pete_James</name>
        <choiceText>Pete James</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>pete.james@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phil_Greenwood</name>
        <choiceText>Phil Greenwood</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>phil.greenwood@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ricky_Boudrow</name>
        <choiceText>Ricky Boudrow</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ricky.boudrow@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>sobjLeadInformation_SALES_Ecommerce_Platform_c</name>
        <choiceText>{!sobjLeadInformation.SALES_Ecommerce_Platform__c}</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>sobjLeadInformation.SALES_Ecommerce_Platform__c</elementReference>
        </value>
    </choices>
    <choices>
        <name>Spencer_Dunfee</name>
        <choiceText>Spencer Dunfee</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>spencer.dunfee@klaviyo.com</stringValue>
        </value>
    </choices>
    <choices>
        <name>Under_5000_Contacts</name>
        <choiceText>Under 5000 Contacts</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Agency &lt; 5000</stringValue>
        </value>
    </choices>
    <choices>
        <name>Website</name>
        <choiceText>Website</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Website</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Manual</name>
        <label>Manual</label>
        <locationX>182</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Create_Lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Manually_Route1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Manually_Route</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Pod_4_AEs</targetReference>
            </connector>
            <label>Manually Route</label>
        </rules>
    </decisions>
    <decisions>
        <name>Shopify_or_Non_Shopify</name>
        <label>Shopify or Non Shopify</label>
        <locationX>182</locationX>
        <locationY>2162</locationY>
        <defaultConnector>
            <targetReference>NonShopify1_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Shopify</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>MyLead.SALES_Ecommerce_Platform__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Shopify</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shopify1</targetReference>
            </connector>
            <label>Shopify</label>
        </rules>
    </decisions>
    <description>geo update</description>
    <dynamicChoiceSets>
        <name>AEName</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Ecommerce</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SALES_Ecommerce_Platform__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EcommercePlatformPicklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SALES_Ecommerce_Platform__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FlipSizeByBuckets</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FLOW_Flip_Size_by_Bucket__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Industry</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Industry</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Involvement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RP_Involvement_in_Sales_Process__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Num_of_Employees</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SALES_of_Employees__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod1AEs</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod1AEs2</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Second_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod1AEs3</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Third_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod2AEs</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod2AEs2</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Second_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod2AEs3</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Third_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>2</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod3AEs</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod3AEs2</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Second_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Pod3AEs3</name>
        <dataType>String</dataType>
        <displayField>Full_Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CAM_or_AE__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </filters>
        <filters>
            <field>Third_Pod__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>3</stringValue>
            </value>
        </filters>
        <object>CAMs_and_AEs__mdt</object>
        <outputAssignments>
            <assignToReference>FullName</assignToReference>
            <field>Full_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>UsernameID</assignToReference>
            <field>Username__c</field>
        </outputAssignments>
        <sortField>Full_Name__c</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Username__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Sourced</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RP_Partner_Sourced_or_Klaviyo_Sourced__c</picklistField>
        <picklistObject>Lead</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>company</name>
        <dataType>String</dataType>
        <expression>IF(
{!Company_Name} = &quot;&quot;,
&quot; - &quot;,
{!Company_Name}
)</expression>
    </formulas>
    <formulas>
        <name>DateTimeRightNow</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <name>Last</name>
        <dataType>String</dataType>
        <expression>IF(
{!Last_Name} = &quot;&quot;,
&quot; - &quot;,
{!Last_Name}
)</expression>
    </formulas>
    <interviewLabel>Assign AE of Record to Agency {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Assign AE of Record to Agency</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>182</locationX>
        <locationY>1082</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <inputReference>sobjLeadInformation</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>1190</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>OMGLEAD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>FLOW_Flip_Channel__c</queriedFields>
        <queriedFields>Country_Location__c</queriedFields>
        <queriedFields>etailinsights_HQ_State__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_0</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>2570</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Lead_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>EmailLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_0_0</name>
        <label>Get Lead</label>
        <locationX>182</locationX>
        <locationY>2054</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Shopify_or_Non_Shopify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOOKLEAD.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>MyLead</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>SALES_Ecommerce_Platform__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Owner_Info</name>
        <label>Get Owner Info</label>
        <locationX>182</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AE_of_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOOKLEAD.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>SalesRep</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Look_up_Agency</name>
        <label>Look up Agency</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RPID</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>RP</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Channel_Manager__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>AE_of_Record_Assignment__c</queriedFields>
        <queriedFields>Pod_Assignment__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LookLead1</name>
        <label>LookLead</label>
        <locationX>182</locationX>
        <locationY>1514</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Owner_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OMGLEAD.Id</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>LOOKLEAD</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>Industry</queriedFields>
        <queriedFields>SALES_of_Contacts__c</queriedFields>
        <queriedFields>FLOW_BDR_Stated_Num_of_Contacts__c</queriedFields>
        <queriedFields>SALES_BDR_Stated_GMV__c</queriedFields>
        <queriedFields>SALES_Dropshipper__c</queriedFields>
        <queriedFields>Status</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Sales_Rep1</name>
        <label>Sales Rep</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Manual_Route</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Username</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UsernameID</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>sobjSalesRepUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>FirstName</queriedFields>
        <queriedFields>LastName</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>User</name>
        <label>User</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Flip_to_Sales</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RP.Channel_Manager__c</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>UserObject</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Username</queriedFields>
        <queriedFields>ProfileId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>User_0</name>
        <label>User</label>
        <locationX>182</locationX>
        <locationY>2786</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Send_Email_to_AE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyLead.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>User1</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_Agency</name>
        <label>Update Agency</label>
        <locationX>182</locationX>
        <locationY>2462</locationY>
        <connector>
            <targetReference>Get_Lead_0</targetReference>
        </connector>
        <inputReference>RP</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0</name>
        <label>Update Lead</label>
        <locationX>182</locationX>
        <locationY>1298</locationY>
        <connector>
            <targetReference>Update_Lead_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OMGLEAD.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Country_Location__c</field>
            <value>
                <elementReference>varGeoLocation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>etailinsights_HQ_State__c</field>
            <value>
                <elementReference>varHQState_Province</elementReference>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0</name>
        <label>Update Lead</label>
        <locationX>182</locationX>
        <locationY>1946</locationY>
        <connector>
            <targetReference>Get_Lead_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LOOKLEAD.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FLOW_BDR_Stated_Num_of_Contacts__c</field>
            <value>
                <elementReference>of_Contacts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Industry</field>
            <value>
                <elementReference>Industry1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SALES_Dropshipper__c</field>
            <value>
                <elementReference>Dropshipper1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SALES_of_Contacts__c</field>
            <value>
                <elementReference>of_Contacts</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Qualified - Passed to Sales Rep</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_0_0_0</name>
        <label>Update Lead</label>
        <locationX>182</locationX>
        <locationY>1406</locationY>
        <connector>
            <targetReference>LookLead1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OMGLEAD.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>FLOW_Flip_Channel__c</field>
            <value>
                <stringValue>Agency</stringValue>
            </value>
        </inputAssignments>
        <object>Lead</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <connector>
            <targetReference>User_0</targetReference>
        </connector>
        <inputReference>EmailLead</inputReference>
    </recordUpdates>
    <screens>
        <name>Additional_Information</name>
        <label>Additional Information</label>
        <locationX>182</locationX>
        <locationY>1838</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Lead_0_0</targetReference>
        </connector>
        <fields>
            <name>Industry1</name>
            <choiceReferences>BLANK</choiceReferences>
            <choiceReferences>Industry</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Industry</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Dropshipper1</name>
            <dataType>Boolean</dataType>
            <fieldText>Dropshipper</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>of_Contacts</name>
            <dataType>Number</dataType>
            <fieldText># of Contacts</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AE_of_Record</name>
        <label>AE of Record</label>
        <locationX>182</locationX>
        <locationY>1730</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Additional_Information</targetReference>
        </connector>
        <fields>
            <name>AEName1</name>
            <fieldText>&lt;p&gt;The following AE has been assigned as the AE of Record for this agency and the Lead Owner: &lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255);&quot;&gt;{!SalesRep.FirstName} {!SalesRep.LastName}&lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;Please click Next to finish flipping.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Flip_to_Sales</name>
        <label>Flip to Sales</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Reassign</targetReference>
        </connector>
        <fields>
            <name>First_Name</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Flip_Size_by_Bucket</name>
            <choiceReferences>BLANK</choiceReferences>
            <choiceReferences>A13K</choiceReferences>
            <choiceReferences>A35K</choiceReferences>
            <choiceReferences>A511</choiceReferences>
            <choiceReferences>A1125</choiceReferences>
            <choiceReferences>A2550</choiceReferences>
            <choiceReferences>A50100</choiceReferences>
            <choiceReferences>A100200</choiceReferences>
            <choiceReferences>A200300</choiceReferences>
            <choiceReferences>A300400</choiceReferences>
            <choiceReferences>A400500</choiceReferences>
            <choiceReferences>A500750</choiceReferences>
            <choiceReferences>A7501M</choiceReferences>
            <choiceReferences>A1M</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Flip Size by Bucket</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Flip_Platform_Bucket</name>
            <choiceReferences>EcommercePlatformPicklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Ecommerce Platform</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>of_Employees</name>
            <choiceReferences>Num_of_Employees</choiceReferences>
            <dataType>String</dataType>
            <fieldText># of Employees</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Stated_GMV</name>
            <dataType>Number</dataType>
            <fieldText>GMV</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>geolocation_state</name>
            <extensionName>flowruntime:dependentPicklists</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>dependencyWrapperApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topPicklistApiName</name>
                <value>
                    <stringValue>Country_Location__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middlePicklistApiName</name>
                <value>
                    <stringValue>etailinsights_HQ_State__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topLabel</name>
                <value>
                    <stringValue>Country Indicated by Rep</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>topValue</name>
                <value>
                    <elementReference>varGeoLocation</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleLabel</name>
                <value>
                    <stringValue>HQ State/Province</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>middleValue</name>
                <value>
                    <elementReference>varHQState_Province</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varGeoLocation</assignToReference>
                <name>topValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varHQState_Province</assignToReference>
                <name>middleValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>HQ_City</name>
            <dataType>String</dataType>
            <fieldText>HQ City</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BLANKSPACE</name>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Manually_Route</name>
            <dataType>Boolean</dataType>
            <fieldText>Manually Route</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pod_4_AEs</name>
        <label>Pod 4 AEs</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Sales_Rep1</targetReference>
        </connector>
        <fields>
            <name>Sales_Rep_0_0_0</name>
            <choiceReferences>BLANK</choiceReferences>
            <choiceReferences>AEName</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Sales Rep</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Reason_for_Manual_Assignment4</name>
            <fieldText>Reason for Manual Assignment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Look_up_Agency</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Accept_Reject</name>
        <label>Accept Reject</label>
        <locationX>182</locationX>
        <locationY>3002</locationY>
        <flowName>Partner_Lead_Accept_Reject_Button</flowName>
        <inputAssignments>
            <name>varLeadID</name>
            <value>
                <elementReference>sobjLeadInformation.Id</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <textTemplates>
        <name>Body</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You have been assigned as the AE of record to the referral partner: {!RP.Name}

Link to Referral Partner: https://klaviyo.my.salesforce.com/{!RP.Id}</text>
    </textTemplates>
    <textTemplates>
        <name>Subject</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>You have been Assigned as the AE of Record to {!RP.Name}</text>
    </textTemplates>
    <variables>
        <name>AEOFRECORD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>EliLederman</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>eli.lederman@klaviyo.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>EmailLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>EvanCover</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>evan.cover@klaviyo.com</stringValue>
        </value>
    </variables>
    <variables>
        <name>FaultEmailSubjectLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>A Fault Has Occured on a Flip to Sales Flow</stringValue>
        </value>
    </variables>
    <variables>
        <name>FullName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Input</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>JohnMayer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&lt;iframe src=&quot;https://giphy.com/embed/OqKXUggvf3y3HOa8Lh&quot; width=&quot;480&quot; height=&quot;480&quot; frameBorder=&quot;0&quot; class=&quot;giphy-embed&quot; allowFullScreen&gt;&lt;/iframe&gt;&lt;p&gt;&lt;a href=&quot;https://giphy.com/gifs/applemusic-music-video-apple-trending-videos-OqKXUggvf3y3HOa8Lh&quot;&gt;via GIPHY&lt;/a&gt;&lt;/p&gt;</stringValue>
        </value>
    </variables>
    <variables>
        <name>Lead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LOOKLEAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>LowSophis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Low Sophistication</stringValue>
        </value>
    </variables>
    <variables>
        <name>MyLead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>OMGLEAD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>Qualified</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Qualified</stringValue>
        </value>
    </variables>
    <variables>
        <name>RP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>RPID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SalesRep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>SalesRepAlertSubjectLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>A New Lead Has Been Assigned To You</stringValue>
        </value>
    </variables>
    <variables>
        <name>sobjLeadInformation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>sobjSalesRepUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>User1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>UsernameID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>UserObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varBDRUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varCurrentUserID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varFlipChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varGeoLocation</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varHQState_Province</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
