force-app/main/default/flows/Generate_Renewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <constants>
        <name>constantCancellationProductNumber</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <description>SFDC - Automated Renewal Opportunity Creation</description>
        <name>What_is_the_Opportunity_Type</name>
        <label>What is the Opportunity Type?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.of_Products__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>constantCancellationProductNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Type</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_Renewal_Closed_Lost</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
        <rules>
            <name>New_Or_Renewal</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_new_Renewal_Opportunity</targetReference>
            </connector>
            <label>New Or Renewal</label>
        </rules>
        <rules>
            <name>Amendment</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Amendment</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Open_Renewal</targetReference>
            </connector>
            <label>Amendment</label>
        </rules>
    </decisions>
    <description>SFDC-7086 - Automated Renewal Opportunity Creation</description>
    <environments>Default</environments>
    <formulas>
        <description>SFDC - 7086 : Automated Renewal Opportunity Creation</description>
        <name>dateRenewalCloseDate</name>
        <dataType>Date</dataType>
        <expression>{!Get_Opportunity_Record.Contract__r.EndDate} + 1</expression>
    </formulas>
    <formulas>
        <description>SFDC - 7086: Automate Renewal Opportunity Creation</description>
        <name>RenewalOpportunityName</name>
        <dataType>String</dataType>
        <expression>{!Get_Opportunity_Record.Name} +&quot; - Renewal &quot;</expression>
    </formulas>
    <interviewLabel>Generate Renewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Generate Renewal</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>SFDC - 7086: Automate Renewal Opportunity Creation</description>
        <name>Create_a_new_Renewal_Opportunity</name>
        <label>Create a new Renewal Opportunity</label>
        <locationX>314</locationX>
        <locationY>386</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>dateRenewalCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.Contact__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.Contract__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Klaviyo_Product_Usage__c</field>
            <value>
                <elementReference>Get_Opportunity_Record.Klaviyo_Product_Usage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>RenewalOpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>S1: Discovery</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>SFDC - 7086 : Automated Renewal Opportunity Creation</description>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>446</locationX>
        <locationY>170</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>What_is_the_Opportunity_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Initial_Opportunity_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>SFDC-7086 Updates open Renewal Opportunity&apos;s close date</description>
        <name>Mark_Renewal_Closed_Lost</name>
        <label>Mark Renewal Closed Lost</label>
        <locationX>50</locationX>
        <locationY>386</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Klaviyo_Product_Usage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Klaviyo_Product_Usage__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SALES_Closed_Lost_Notes__c</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SALES_Closed_Lost_Reason__c</field>
            <value>
                <stringValue>Reason Unknown</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>SFDC-7086 Updates open Renewal Opportunity&apos;s close date</description>
        <name>Update_Open_Renewal</name>
        <label>Update Open Renewal</label>
        <locationX>578</locationX>
        <locationY>386</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsClosed</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Klaviyo_Product_Usage__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity_Record.Klaviyo_Product_Usage__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>dateRenewalCloseDate</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <flowRunAsUser>TriggeringUser</flowRunAsUser>
        <object>Create_Update_Renewal__e</object>
        <triggerType>PlatformEvent</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>SFDC - 7086 : Automated Renewal Opportunity Creation</description>
        <name>sobjRenewalRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <description>SFDC - 7086 : Automated Renewal Opportunity Creation</description>
        <name>varNewOLIRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
